*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
header{
    background-color: #1e293b;
    color: white;
    padding: 20px;

}
nav a{
    color: white;
    text-decoration: none;
    margin: 0px ;
    margin: 0 15px 0 0;
    font-size: 14px;
}
main{
    margin: 30px;
}
h2{
color: #1e40af;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
p{
        display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
        line-height: 1.6;
    margin-bottom: 15px;
    
}
h3{
    display: block;
    margin-bottom: 15px;
}

ul{
    margin-left: 30px;
    margin-bottom: 15px;
}
.as{
    display: inline;
}
a{
    display: inline;
}
input{
    padding: 8px;
    margin-top: 5px;
    display: block;
}
.name{
    padding: 8px;
    margin-top: 5px;
}
article {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
}
.comment{
width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
}
button{
    padding: 10px 15px;
    background-color: #1e40af;
    color: white;
    border: none;
    cursor: pointer;
}